In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [4]:
mis = train.isnull().sum()
mis[10:20]

Col11        0
Col12        0
Col13     1249
Col14     1244
Col15     1246
Col16     1243
Col17     1470
Col18     2860
Col19    14759
Col20    14319
dtype: int64

In [5]:
# how many total missing values do we have?
total_cells = np.product(train.shape)
total_missing = mis.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

10.76682332528136

In [6]:
# remove all columns with at least one missing value
columns_with_na_dropped = train.dropna(axis=1)
columns_with_na_dropped.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,0,0,0,0,0,0,1,0,1
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,0,0,0,0,0,0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,0,0,0,0,0,0,1,1,0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,1,2,0,0,0,0,0,0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,2,0,0,0,0,0

In [7]:
train_df = columns_with_na_dropped

In [8]:
# Now try removing all the columns with empty values. Now how much of your data is left?
sf_columns_with_na_droped = test.dropna(axis=1)
sf_columns_with_na_droped.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,0,0,0,0,0,0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,2,1,0,0,1,1,1,1,2,2
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,0,0,0,0,0,0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,0,0,0,0,0,0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,0,0,0,0,0,0

In [9]:
test_df = sf_columns_with_na_droped

In [10]:
submit = test_df[['Col1']]

In [11]:
X = train_df.drop(['Col2'],axis=1)
y = train_df['Col2']

In [12]:
X = X.drop(['Col1'],axis=1)
test_df = test_df.drop(['Col1'],axis=1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.30, stratify=y, random_state=1909)

In [14]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=10, shuffle=True)
skf.get_n_splits(X,y)

10

In [15]:
# Set Container to gather the cross validation result of the model
score_list_model5 = []

In [ ]:
from sklearn.metrics import f1_score, accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
model_5 = GradientBoostingClassifier()
for train_index, test_index in skf.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model_5.fit(X_train, y_train)
    
    y_pred5=model_5.predict(X_test)
    
    score_list_model5.append(f1_score(y_test,y_pred5,average='weighted',labels=np.unique(y_pred5)))

In [19]:
score_table = pd.DataFrame({"F1 Score model 5" :score_list_model5})

score_table

   F1 Score model 5
0          0.859078
1          0.862038
2          0.861368
3          0.862273
4          0.862613
5          0.859366
6          0.865421
7          0.862132
8          0.863045
9          0.869877

In [20]:
final_5=np.mean(score_list_model5)

In [21]:
print("F1 Score Average Model_5 :",final_5)

F1 Score Average Model_5 : 0.8627210138170479

In [22]:
y_pred5 = model_5.predict(test_df)

In [24]:
submit['Col2'] = y_pred5

In [25]:
submit['Col2'].value_counts()

0    20149
1      293
Name: Col2, dtype: int64

In [26]:
submit.to_csv('submission_CV_GB.csv',index=False)